/task - 3/node_modules
/task - 3/public/hot
/task - 3/public/storage
/task - 3/storage/*.key
/task - 3/vendor
/task -3/.env
/task -3/.env.backup
/task -3/.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/task -3/.idea
/task -3/.vscode
